@tailwind base;
@tailwind components;
.capsule-input {
  @apply border-2 w-full rounded-lg focus:outline-none focus:border-gray-500 p-1;
}
.capsule-radio {
  @apply mr-3 h-5 w-5;
}
.capsule-container-width {
  @apply w-full max-w-screen-lg mx-auto px-12 xl:px-3;
}
.capsule-responsive-text {
  @apply text-3xl lg:text-4xl text-center pb-8 mb-12 border-b-2 font-semibold;
}
.capsule-responsive-subtext {
  @apply text-xl lg:text-2xl;
}
.capsule-btn {
  @apply p-3 border-2 rounded-2xl m-3 mb-0;
}
.capsule-btn-hover {
  @apply bg-gray-400 text-white rounded-md hover:bg-black cursor-pointer border-gray-800;
}
@tailwind utilities;
